@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-navy-dark: #11151c;
  --color-navy-card: #1b202c;
  --color-amber-accent: #ffb454;
  --color-amber-hover: #e09b40;
}

body {
  background-color: var(--color-navy-dark);
  color: #f1f5f9;
  font-family: var(--font-sans);
}

/* Custom scrollbars for a highly polished aesthetic */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #11151c;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffb454;
}
